*{
padding : 0;
margin : 0;
border : 0;
}
body{
background-image : url('');
background-attachment : fixed;
background-size : 100% auto;
}
.blended_grid{
display : block;
width : 1050px;
overflow : auto;
margin : 100px auto 0 auto;
}
.navbar{
background-color : rgba(255,255,255, 0.5);
float : left;
clear : none;
height : 100px;
width : 100%;
}

.infobar{
background-color : rgba(255,255,255, 0.5);
float : left;
clear : none;
height : 100%;
width : 100%;
}

.imagebanner{
background-color : rgba(255,255,255, 0.5);
float : left;
clear : none;
height : 100%;
width : 1050px;
}
.userbanner{
background-color : rgba(255,255,255, 0.5);
float : left;
clear : none;
height : 100%;
width : 1050px;
}
.leftBanner{
background-color : rgba(255,255,255, 0.5);
float : left;
clear : none;
height : 100%;
width : 350px;
}
.centerBanner{
background-color : rgba(255,255,255, 0.5);
float : left;
clear : none;
height : 100%;
width : 350px;
}
.rightBanner{
background-color : rgba(255,255,255, 0.5);
float : left;
clear : none;
height : 100%;
width : 350px;
}
