{% extends "base.html" %}
{% load staticfiles %}
{% block content %}


<div class="userbanner">

{% for item in personal_collect.items %}

<div style="width:500px">
<div style="float: left; width:125px;">
    <img src="{% static item.1.user_image %}"  width="100px" height="100px"/>
</div>

<div>
    <h3>{{ item.1.first_name }} {{ item.1.last_name }} | {{ item.1.rate}}</h3>
  {{ item.1.username }}<br>
  {{ item.1.email }}<br>
    Send Note<br>
</div>
</div>

{% endfor %}

<br>
<br>
<br>
</div>
{% endblock %}
