{% load staticfiles %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
    <head>
        <title>
        {% block title %}{% endblock %}</title>

            <!-- Bootstrap -->
            <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">


        <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    </head>
    <body>


        <nav class="navbar navbar-default">
          <div class="container-fluid">
            <div class="navbar-header">
              <a class="navbar-brand" href="#">

              </a>
            </div>
          </div>
        </nav>

                  {% if user.username != '' %}



                  <div class="navbar">
                    <ul class="nav nav-tabs">
                      <li role="presentation" class="active"><a href="#">Home</a></li>
                      <li role="presentation"><a href="#">Profile</a></li>
                      <li role="presentation"><a href="#">Messages</a></li>
                      <li role="presentation"><a href="/logout/">Logout</a></li>


                    </ul>


                </div>
<br>
  <div class="well">

                                        Welcome {{ user.username }} !!!<br>

                                  [nav buttons]<br>
                                  [box: Logged in information box]<br>


                </div>


                  {% endif %}

                <div class="blended_grid">


          {% block content %}


          {% endblock %}



        </div>
        <div class="infobar">


  <div class="well">

                        social<br>
                        contact<br>
                        bug<br>
<br>
<br>
<br>
<br>
<br>
</div>

        </div>


    </body>
</html>
