{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
    <div class="imagebanner">




      <a href="#" ><img src="{% static '/static/thumbs/01_thumbnail.jpg' %}" width="20%" height="20%"/></a><a href="#" ><img src="{% static '/static/thumbs/02_thumbnail.jpg' %}" width="20%" height="20%"/></a><a href="#" ><img src="{% static '/static/thumbs/03_thumbnail.jpg' %}" width="20%" height="20%"/></a><a href="#" ><img src="{% static '/static/thumbs/04_thumbnail.jpg' %}" width="20%" height="20%"/></a><a href="#" ><img src="{% static '/static/thumbs/05_thumbnail.png' %}" width="20%" height="20%"/></a>

      <a href="#" ><img src="{% static '/static/thumbs/01_thumbnail.jpg' %}" width="20%" height="20%"/></a><a href="#" ><img src="{% static '/static/thumbs/02_thumbnail.jpg' %}" width="20%" height="20%"/></a><a href="#" ><img src="{% static '/static/thumbs/03_thumbnail.jpg' %}" width="20%" height="20%"/></a><a href="#" ><img src="{% static '/static/thumbs/04_thumbnail.jpg' %}" width="20%" height="20%"/></a><a href="#" ><img src="{% static '/static/thumbs/05_thumbnail.png' %}" width="20%" height="20%"/></a>

    </div>
    <div class="userbanner">
          <div class="panel panel-default">
            <div class="panel-body">
              [bar: User information 'card']<br>
name<br>
role<br>
start date<br>
holiday<br>
<br>
health plan<br>
dental<br>
            </div>
          </div>

        </div>


  <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Projects</h3>
        </div>
  <img src="{% static '/static/bar_Chart.png' %}" width='100%' height='400px'/><br>


</div>


<div class="userbanner">


  <div class="panel panel-default">
    <div class="panel-body">




                  [current projects user is on]<br>
                  [current][signed off][next]<br>
                  <hr>
                  [current projects]<br>

    </div>
  </div>



  </div>



  <div class="media">
    <div class="media-left">
      <a href="#">
        <img class="media-object" src="..." alt="...">
      </a>
    </div>
    <div class="media-body">
      <h4 class="media-heading">Media heading</h4>
      ...
    </div>
  </div>



    <div class="leftBanner">








      <div class="list-group">
        <a href="#" class="list-group-item active">
          <h4 class="list-group-item-heading">cg architect</h4>
        </a>
        <a href="#" class="list-group-item">
          <p class="list-group-item-text">Sed ut perspiciatis unde omnis iste natusomnis iste natus error sit voluptatem accus error sit voluptatem accusantium doloremque laudantium  </p>
        </a>
        <a href="#" class="list-group-item">
          <p class="list-group-item-text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium </p>
        </a>
        <a href="#" class="list-group-item">
          <p class="list-group-item-text">Sed ut perspiciatisomnis iste natus error sit voluptatem accusunde omnis isteomnis iste natus error sit voluptatem accus natus error sit voluptatem accusantium doloremque laudantium </p>
        </a>
        <a href="#" class="list-group-item">
          <p class="list-group-item-text">Sed ut perspiciatis unde omnisomnis iste natus error sit voluptatem accus iste natus error sit voluptatem accusantium doloremque laudantium </p>
        </a>
      </div>



    </div>



    <div class="centerBanner">


      <div class="list-group">
        <a href="#" class="list-group-item active">
          <h4 class="list-group-item-heading">dezeen</h4>
        </a>
        <a href="#" class="list-group-item">
          <p class="list-group-item-text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremomnis iste natus error sit voluptatem accusque laudantium  </p>
        </a>
        <a href="#" class="list-group-item">
          <p class="list-group-item-text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium </p>
        </a>
        <a href="#" class="list-group-item">
          <p class="list-group-item-text">Sed ut perspiciatis unde omnisomnis iste natus error sit voluptatem accus iste natus error sit voluptatem accusantium doloremque laudantium </p>
        </a>
        <a href="#" class="list-group-item">
          <p class="list-group-item-text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium </p>
        </a>
      </div>


    </div>



    <div class="rightBanner">


      <div class="list-group">
        <a href="#" class="list-group-item active">
          <h4 class="list-group-item-heading">evermotion</h4>
        </a>
        <a href="#" class="list-group-item">
          <p class="list-group-item-text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium  </p>
        </a>
        <a href="#" class="list-group-item">
          <p class="list-group-item-text">Sed ut perspiciatis unde omniomnis iste natus error sit voluptatem accuss iste natus error sit voluptatem aomnis iste natus error sit voluptatem accusccusantium doloremque laudantium </p>
        </a>
        <a href="#" class="list-group-item">
          <p class="list-group-item-text">Sed ut perspiciatis unde omnis iste nomnis iste natus error sit voluptatem accusatus error sit voluptatem aomnis iste natus error sit voluptatem accusccusantium doloremque laudantium </p>
        </a>
        <a href="#" class="list-group-item">
          <p class="list-group-item-text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium </p>
        </a>
      </div>


    </div>






    <div class="leftBanner">








      <div class="list-group">
        <a href="#" class="list-group-item active">
          <h4 class="list-group-item-heading">Arch viz site #4</h4>
        </a>
        <a href="#" class="list-group-item">
          <p class="list-group-item-text">Sed ut  voluptatem accus error sit voluptatem accusantium doloremque laudantium  </p>
        </a>
        <a href="#" class="list-group-item">
          <p class="list-group-item-text">Sed ut perspiciatis unde omnis iste natus error sit  accusantium doloremque laudantium </p>
        </a>
        <a href="#" class="list-group-item">
          <p class="list-group-item-text">Sed ut perspiciatisomnis iste natus error sit voluptatemtem accus natus error sit voluptatem accusantium doloremque laudantium </p>
        </a>
        <a href="#" class="list-group-item">
          <p class="list-group-item-text">Sed ut perspiciatis unde omnisomnis iste oluptatem accusantium doloremque laudantium </p>
        </a>
      </div>



    </div>



    <div class="centerBanner">


      <div class="list-group">
        <a href="#" class="list-group-item active">
          <h4 class="list-group-item-heading">Arch viz site #5</h4>
        </a>
        <a href="#" class="list-group-item">
          <p class="list-group-item-text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremomnis iste natus error sit voluptatem accusque laudantium  </p>
        </a>
        <a href="#" class="list-group-item">
          <p class="list-group-item-text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium </p>
        </a>
        <a href="#" class="list-group-item">
          <p class="list-group-item-text">Sed ut perspiciatis unde omnisomnis iste natus error sit voluptatem accus iste natus error sit voluptatem accusantium doloremque laudantium </p>
        </a>
        <a href="#" class="list-group-item">
          <p class="list-group-item-text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium </p>
        </a>
      </div>


    </div>



    <div class="rightBanner">


      <div class="list-group">
        <a href="#" class="list-group-item active">
          <h4 class="list-group-item-heading">Arch viz site #6</h4>
        </a>
        <a href="#" class="list-group-item">
          <p class="list-group-item-text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium  </p>
        </a>
        <a href="#" class="list-group-item">
          <p class="list-group-item-text">Sed ut  iste natus error sit voluptatem aomnis iste natus error sit voluptatem accusccusantium doloremque laudantium </p>
        </a>
        <a href="#" class="list-group-item">
          <p class="list-group-item-text">Sed ut perspiciatis unde omnis iste nomnis iste natus error sit voluptatem accusatus error sit voluptatem aomnis iste natus error sit voluptatem accusccusantium doloremque laudantium </p>
        </a>
        <a href="#" class="list-group-item">
          <p class="list-group-item-text">Sed ut doloremque laudantium </p>
        </a>
      </div>


    </div>








<div class="userbanner">


  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Comments</h3>
    </div>
    <div class="panel-body">


        [comments?]<br>

    </div>
  </div>



  </div>




  <div class="userbanner">
        <div class="panel panel-default">

            <div class="panel-heading">
              <h3 class="panel-title">Project</h3>
            </div>
          <div class="panel-body">


            <form action="/your-name/" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <input class="form-control" id="id_project_code" maxlength="100" name="project_code" type="text" placeholder="Project Code" /><br>
                    <input class="form-control" id="id_project_inc" maxlength="100" name="project_inc" type="text" placeholder="Increment" /><br>
                    <input class="form-control" id="id_project_name" maxlength="100" name="project_name" type="text" placeholder="Project Name" /><br>
                    <input class="form-control" id="id_project_start" maxlength="100" name="project_start" type="text" placeholder="Start Date" /><br>
                    <input class="form-control" id="id_project_end" maxlength="100" name="project_end" type="text" placeholder="Deadline" /><br>
        <center>
            <button type="submit" class="btn btn-default" value="Submit" />Create Project</button>
      </center>
                </div>


            </form>





          </div>
        </div>

      </div>




{% endblock %}
