{% extends "base.html" %}
{% block title %}vhn - dash{% endblock %}
{% block head %}{% endblock %}

{% block content %}
    <div class="imagebanner">




<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Panel title</h3>
  </div>
  <div class="panel-body">

          [bar: latest library uploads]<br>
          [bar: latest completed images]<br>
  </div>
</div>



    </div>


        <div class="userbanner">



          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Panel title</h3>
            </div>
            <div class="panel-body">
              [bar: User information 'card']<br>

              <ul>
              <li>name</li>
              <li>holiday</li>
              <li>health plan</li>
              <li>dental</li>
              <li>role</li>
              <li>start date</li>
              </ul>
            </div>
          </div>





        </div>


<div class="userbanner">


  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Panel title</h3>
    </div>
    <div class="panel-body">

                  [current projects user is on]<br>
                  [current][signed off][next]<br>
                  <br>
                  [current projects]<br>

    </div>
  </div>



  </div>



    <div class="leftBanner">



      <div class="list-group">
        <a href="#" class="list-group-item active">
          <h4 class="list-group-item-heading">scapped site</h4>
        </a>
        <a href="#" class="list-group-item">
          <p class="list-group-item-text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium  </p>
        </a>
        <a href="#" class="list-group-item">
          <p class="list-group-item-text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium </p>
        </a>
        <a href="#" class="list-group-item">
          <p class="list-group-item-text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium </p>
        </a>
        <a href="#" class="list-group-item">
          <p class="list-group-item-text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium </p>
        </a>
      </div>



    </div>



    <div class="centerBanner">


      <div class="list-group">
        <a href="#" class="list-group-item active">
          <h4 class="list-group-item-heading">scapped site</h4>
        </a>
        <a href="#" class="list-group-item">
          <p class="list-group-item-text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium  </p>
        </a>
        <a href="#" class="list-group-item">
          <p class="list-group-item-text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium </p>
        </a>
        <a href="#" class="list-group-item">
          <p class="list-group-item-text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium </p>
        </a>
        <a href="#" class="list-group-item">
          <p class="list-group-item-text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium </p>
        </a>
      </div>


    </div>



    <div class="rightBanner">


      <div class="list-group">
        <a href="#" class="list-group-item active">
          <h4 class="list-group-item-heading">scapped site</h4>
        </a>
        <a href="#" class="list-group-item">
          <p class="list-group-item-text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium  </p>
        </a>
        <a href="#" class="list-group-item">
          <p class="list-group-item-text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium </p>
        </a>
        <a href="#" class="list-group-item">
          <p class="list-group-item-text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium </p>
        </a>
        <a href="#" class="list-group-item">
          <p class="list-group-item-text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium </p>
        </a>
      </div>


    </div>

<div class="userbanner">


  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Panel title</h3>
    </div>
    <div class="panel-body">


        [comments?]<br>

    </div>
  </div>



  </div>



{% endblock %}
