{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">
            [<a title="show/hide" id="exp1468505665_link" href="javascript: void(0);" onclick="toggle(this, 'exp1468505665');"  style="text-decoration: none; color: #000000; ">−</a>]
              Notes
        </h3>
    </div>
    <div class="panel-body">
        <div id="exp1468505665" style="padding: 3px;">

            {% for message in user_message.items %}
            <div>
                <img src="{% static 'ico_message.jpg' %}"/><b>{{ message.1.3 }}</b> - <i>{{ message.1.1 }}</i><br>
                <h6>{{ message.1.4 }}<br>

                <form method="post" action="/del_note/">{% csrf_token %}
                  <input type="hidden" id="id_id_to_del" maxlength="255" name="id_to_del" value="{{ message.1.0 }}" />
                  <button type="submit" class="btn btn-secondary btn-sm" value="delete" />Delete</button><b> | Reply | Resource</b>
                </form>

                </h6><br>
            </div>

            {% endfor %}

            <div class="panel panel-default">

                <div class="panel-heading">
                    <h3 class="panel-title">Send Note</h3>
                </div>
                <div class="panel-body">
                    <form action="/comment/" method="post">{% csrf_token %}
                        <div class="form-group" style="width:392px">
                            <div class="form-inline">
                                <input type="hidden" id="id_op_id" maxlength="255" name="op_id" value="{{ user.username }}" />
                                <input type="hidden" id="id_parent_id" maxlength="255" name="parent_id" value="None" />
                                <input type="hidden" id="id_rate" maxlength="255" name="rate" value="None" />
                                <input class="form-control" id="id_item_id" maxlength="100" name="item_id" type="text" placeholder="Recipient" />
                                <input class="form-control" id="id_subject" maxlength="255" name="subject" type="text" placeholder="Subject" />
                                <input class="form-control" id="id_content" maxlength="100" name="content" type="text" placeholder="Message..." />
                            </div>
                            <button type="submit" class="btn btn-default" value="Submit" />Send</button>
                        </div>
                    </form>
                </div>
            </div>




            {% comment %}

            <img src="{% static 'ico_ann.jpg' %}"/><img src="{% static 'ico_message.jpg' %}"/><img src="{% static 'ico_comment.jpg' %}"/><br>
            <br>
            Announcements
              - vh news
              - network news
              - assigned to project
              - mentioned
            notes
              - network messaging system
              - notes can be left on all most object_ids (users_id, media_, project_id)
              - notes can be replied to.
            <br>
    {% endcomment %}

        </div>
<!-- Make Box init hidden -->
<script language="javascript">toggle(getObject('exp1468505665_link'), 'exp1468505665');</script>
    </div>
</div>



<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">
            [<a title="show/hide" id="exp1468505666_link" href="javascript: void(0);" onclick="toggle(this, 'exp1468505666');"  style="text-decoration: none; color: #000000; ">−</a>]
              Project
        </h3>
    </div>
    <div class="panel-body">
        <div id="exp1468505666" style="padding: 3px;">

                <div id="timeline"></div>
        </div>

    </div>
</div>



<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">
            [<a title="show/hide" id="exp1468505667_link" href="javascript: void(0);" onclick="toggle(this, 'exp1468505667');"  style="text-decoration: none; color: #000000; ">−</a>]
              Media
        </h3>
    </div>
    <div class="panel-body">
        <div id="exp1468505667" style="padding: 3px;">
            <div class="userbanner">
              <a href="#" ><img src="{% static '/static/thumbs/01_thumbnail.jpg' %}" width="20%" height="20%"/></a><a href="#" ><img src="{% static '/static/thumbs/02_thumbnail.jpg' %}" width="20%" height="20%"/></a><a href="#" ><img src="{% static '/static/thumbs/03_thumbnail.jpg' %}" width="20%" height="20%"/></a><a href="#" ><img src="{% static '/static/thumbs/04_thumbnail.jpg' %}" width="20%" height="20%"/></a><a href="#" ><img src="{% static '/static/thumbs/05_thumbnail.png' %}" width="20%" height="20%"/></a><br>
              <a href="#" ><img src="{% static '/static/thumbs/01_thumbnail.jpg' %}" width="20%" height="20%"/></a><a href="#" ><img src="{% static '/static/thumbs/02_thumbnail.jpg' %}" width="20%" height="20%"/></a><a href="#" ><img src="{% static '/static/thumbs/03_thumbnail.jpg' %}" width="20%" height="20%"/></a><a href="#" ><img src="{% static '/static/thumbs/04_thumbnail.jpg' %}" width="20%" height="20%"/></a><a href="#" ><img src="{% static '/static/thumbs/05_thumbnail.png' %}" width="20%" height="20%"/></a><br>
            </div>

            <!-- Make Box init hidden -->
            <script language="javascript">toggle(getObject('exp1468505667_link'), 'exp1468505667');</script>


        </div>
    </div>
</div>





<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">
            [<a title="show/hide" id="exp1468505668_link" href="javascript: void(0);" onclick="toggle(this, 'exp1468505668');"  style="text-decoration: none; color: #000000; ">−</a>]
              My Information
        </h3>
    </div>
    <div class="panel-body">
        <div id="exp1468505668" style="padding: 3px;">
            <small><b>Name: </b></small>&emsp;{{ loggedin_user_info.1 }} {{ loggedin_user_info.2 }}<br>
            <small><b>Birthday: </b></small>&emsp;{{ loggedin_user_info.4 }}<br>
            <small><b>Role: </b></small>&emsp;{{ loggedin_user_info.3 }}<br>
            <small><b>Start Date: </b></small>&emsp;[IMP]<br>
            <small><b>Holiday: </b></small>&emsp;{{ loggedin_user_info.5 }}<br>
            <br>
            <small><b>Current Projects: </b></small>&emsp;{{ loggedin_user_info.10 }}<br>
            <br>
            <small><b>Health Provider: </b></small>&emsp;{{ loggedin_user_info.6 }}<br>
            <small><b>Health Plan: </b></small>&emsp;{{ loggedin_user_info.7 }}<br>
            <small><b>Dental Provider: </b></small>&emsp;{{ loggedin_user_info.8 }}<br>
            <small><b>Dental Plan: </b></small>&emsp;{{ loggedin_user_info.9 }}<br>
            <br>
        </div>

        <!-- Make Box init hidden -->
        <script language="javascript">toggle(getObject('exp1468505668_link'), 'exp1468505668');</script>


    </div>
</div>



<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">
            [<a title="show/hide" id="exp1468505670_link" href="javascript: void(0);" onclick="toggle(this, 'exp1468505670');"  style="text-decoration: none; color: #000000; ">−</a>]
              Admin
        </h3>
    </div>
    <div class="panel-body">
        <div id="exp1468505670" style="padding: 3px;">
            <div class="panel panel-default">

                <div class="panel-heading">
                    <h3 class="panel-title">Create Project</h3>
                </div>
                <div class="panel-body">
                    <form action="/new_project/" method="post">{% csrf_token %}
                        <div class="form-group" style="width:392px">
                            <div class="form-inline">
                                <input class="form-control" id="id_project_code" maxlength="100" name="project_code" type="text" placeholder="Project Code" /><input class="form-control" id="id_project_inc" maxlength="100" name="project_inc" type="text" placeholder="Increment" />
                            </div>
                                <input class="form-control" id="id_project_name" maxlength="100" name="project_name" type="text" placeholder="Project Name" />
                            <div class="form-inline">
                                <input class="form-control" id="datepicker_start" maxlength="100" name="project_start" type="text" placeholder="Start Date" /><input class="form-control" id="datepicker_end" maxlength="100" name="project_end" type="text" placeholder="Deadline" />

                            </div>
                                <input type="hidden" id="id_creator_id" maxlength="255" name="creator_id" value="{{ user.username }}" />
                                <input type="hidden" id="id_location" maxlength="255" name="location" value="default" />
                                <input type="hidden" id="id_assigned_user_id" maxlength="255" name="assigned_user_id" value="default" />
                                <input type="hidden" id="id_signedoff" maxlength="255" name="signedoff" value="None" />
                                <input type="hidden" id="id_flagdelete" maxlength="255" name="flagdelete" value="None" />
                            <button type="submit" class="btn btn-default" value="Submit" />Create Project</button>
                        </div>
                    </form>
                </div>
            </div>

            <div class="panel panel-default">

                <div class="panel-heading">
                    <h3 class="panel-title">New User</h3>
                </div>
                <div class="panel-body">

            <form method="post" action="/register/">{% csrf_token %}

              <div class="form-group">

                  <input class="form-control" id="id_username" max_length="30" name="username" type="text" placeholder="Username" required />
                  <input class="form-control" id="id_email" max_length="30" name="email" type="text" placeholder="Email" required />
                  <input class="form-control" id="id_password1" max_length="30" name="password1" type="password" placeholder="Password" required />
                  <input class="form-control" id="id_password2" max_length="30" name="password2" type="password" placeholder="Repeat Password" required />
              </div>
        <center>
        <button type="submit" class="btn btn-default" value="Register" />Register</button>
        <input type="hidden" name="next" value="/home" />

        <a href="/home" class="btn btn-default">Login</a>
        </center>

            </form>
        </div>
        </div>

        </div>
                    <!-- Make Box init hidden -->
                    <script language="javascript">toggle(getObject('exp1468505670_link'), 'exp1468505670');</script>
    </div>
</div>



<h3>News</h3>
<br>

<div class="userbanner">

    <div class="leftBanner">
        <div class="list-group">
            <a href="#" class="list-group-item active">
                <h4 class="list-group-item-heading">cg architect</h4>
            </a>
            <a href="#" class="list-group-item">
                <p class="list-group-item-text">Sed ut perspiciatis unde omnis iste natusomnis iste natus error sit voluptatem accus error sit voluptatem accusantium doloremque laudantium  </p>
            </a>
            <a href="#" class="list-group-item">
                <p class="list-group-item-text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium </p>
            </a>
            <a href="#" class="list-group-item">
                <p class="list-group-item-text">Sed ut perspiciatisomnis iste natus error sit voluptatem accusunde omnis isteomnis iste natus error sit voluptatem accus natus error sit voluptatem accusantium doloremque laudantium </p>
            </a>
            <a href="#" class="list-group-item">
                <p class="list-group-item-text">Sed ut perspiciatis unde omnisomnis iste natus error sit voluptatem accus iste natus error sit voluptatem accusantium doloremque laudantium </p>
            </a>
        </div>
    </div>



    <div class="centerBanner">
        <div class="list-group">
            <a href="#" class="list-group-item active">
                <h4 class="list-group-item-heading">dezeen</h4>
            </a>
            <a href="#" class="list-group-item">
                <p class="list-group-item-text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremomnis iste natus error sit voluptatem accusque laudantium  </p>
            </a>
            <a href="#" class="list-group-item">
                <p class="list-group-item-text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium </p>
            </a>
            <a href="#" class="list-group-item">
                <p class="list-group-item-text">Sed ut perspiciatis unde omnisomnis iste natus error sit voluptatem accus iste natus error sit voluptatem accusantium doloremque laudantium </p>
            </a>
            <a href="#" class="list-group-item">
                <p class="list-group-item-text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium </p>
            </a>
        </div>
    </div>

    <div class="rightBanner">
        <div class="list-group">
            <a href="#" class="list-group-item active">
                <h4 class="list-group-item-heading">evermotion</h4>
            </a>
            <a href="#" class="list-group-item">
                <p class="list-group-item-text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium  </p>
            </a>
            <a href="#" class="list-group-item">
                <p class="list-group-item-text">Sed ut perspiciatis unde omniomnis iste natus error sit voluptatem accuss iste natus error sit voluptatem aomnis iste natus error sit voluptatem accusccusantium doloremque laudantium </p>
            </a>
            <a href="#" class="list-group-item">
                <p class="list-group-item-text">Sed ut perspiciatis unde omnis iste nomnis iste natus error sit voluptatem accusatus error sit voluptatem aomnis iste natus error sit voluptatem accusccusantium doloremque laudantium </p>
            </a>
            <a href="#" class="list-group-item">
                <p class="list-group-item-text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium </p>
            </a>
        </div>
    </div>

    <div class="leftBanner">
        <div class="list-group">
            <a href="#" class="list-group-item active">
                <h4 class="list-group-item-heading">Arch viz site #4</h4>
            </a>
            <a href="#" class="list-group-item">
                <p class="list-group-item-text">Sed ut  voluptatem accus error sit voluptatem accusantium doloremque laudantium  </p>
            </a>
            <a href="#" class="list-group-item">
                <p class="list-group-item-text">Sed ut perspiciatis unde omnis iste natus error sit  accusantium doloremque laudantium </p>
            </a>
            <a href="#" class="list-group-item">
                <p class="list-group-item-text">Sed ut perspiciatisomnis iste natus error sit voluptatemtem accus natus error sit voluptatem accusantium doloremque laudantium </p>
            </a>
            <a href="#" class="list-group-item">
                <p class="list-group-item-text">Sed ut perspiciatis unde omnisomnis iste oluptatem accusantium doloremque laudantium </p>
            </a>
        </div>
    </div>

    <div class="centerBanner">
        <div class="list-group">
            <a href="#" class="list-group-item active">
                <h4 class="list-group-item-heading">Arch viz site #5</h4>
            </a>
            <a href="#" class="list-group-item">
                <p class="list-group-item-text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremomnis iste natus error sit voluptatem accusque laudantium  </p>
            </a>
            <a href="#" class="list-group-item">
                <p class="list-group-item-text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium </p>
            </a>
            <a href="#" class="list-group-item">
                <p class="list-group-item-text">Sed ut perspiciatis unde omnisomnis iste natus error sit voluptatem accus iste natus error sit voluptatem accusantium doloremque laudantium </p>
            </a>
            <a href="#" class="list-group-item">
                <p class="list-group-item-text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium </p>
            </a>
        </div>
    </div>

    <div class="rightBanner">
        <div class="list-group">
            <a href="#" class="list-group-item active">
                <h4 class="list-group-item-heading">Arch viz site #6</h4>
            </a>
            <a href="#" class="list-group-item">
                <p class="list-group-item-text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium  </p>
            </a>
            <a href="#" class="list-group-item">
                <p class="list-group-item-text">Sed ut  iste natus error sit voluptatem aomnis iste natus error sit voluptatem accusccusantium doloremque laudantium </p>
            </a>
            <a href="#" class="list-group-item">
                <p class="list-group-item-text">Sed ut perspiciatis unde omnis iste nomnis iste natus error sit voluptatem accusatus error sit voluptatem aomnis iste natus error sit voluptatem accusccusantium doloremque laudantium </p>
            </a>
            <a href="#" class="list-group-item">
                <p class="list-group-item-text">Sed ut doloremque laudantium </p>
            </a>
        </div>
    </div>

</div>




{% endblock %}
