{% extends "base.html" %}
{% load staticfiles %}

{% block content %}


<br>




<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">
              Sent Notes
        </h3>
    </div>
    <div class="panel-body">

{% for note in loggedin_sent_note.items %}

            <div>
                <img src="{% static 'ico_message.jpg' %}"/><b>{{ note.1.subject }}</b> - To: <i>{{ note.1.item_id }}</i><br>
                <h6>{{ note.1.content }}<br>
                <form method="post" action="/del_note/">{% csrf_token %}
                  <input type="hidden" id="id_id_to_del" maxlength="255" name="id_to_del" value="{{ note.1.note_id }}" />
                  <button type="submit" class="btn btn-secondary btn-sm" value="delete" />Delete</button><b> | Reply | Resource</b>


                </form>

                </h6><br>
            </div>


            {% endfor %}


            {% comment %}

            <img src="{% static 'ico_ann.jpg' %}"/><img src="{% static 'ico_message.jpg' %}"/><img src="{% static 'ico_comment.jpg' %}"/><br>
            <br>
            Announcements
              - vh news
              - network news
              - assigned to project
              - mentioned
            notes
              - network messaging system
              - notes can be left on all most object_ids (users_id, media_, project_id)
              - notes can be replied to.
            <br>
    {% endcomment %}

        </div>
    </div>




<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">
              Recieved Notes
        </h3>
    </div>
    <div class="panel-body">

{% for note in loggedin_recv_note.items %}

            <div>
                <img src="{% static 'ico_message.jpg' %}"/><b>{{ note.1.subject }}</b> - From: <i>{{ note.1.op_id }}</i><br>
                <h6>{{ note.1.content }}<br>

                <form method="post" action="/del_note/">{% csrf_token %}
                  <input type="hidden" id="id_id_to_del" maxlength="255" name="id_to_del" value="{{ note.noteid }}" />
                  <button type="submit" class="btn btn-secondary btn-sm" value="delete" />Delete</button><b> | Reply | Hide | Resource</b>
                </form>

                </h6><br>
            </div>


            {% endfor %}


            {% comment %}

            <img src="{% static 'ico_ann.jpg' %}"/><img src="{% static 'ico_message.jpg' %}"/><img src="{% static 'ico_comment.jpg' %}"/><br>
            <br>
            Announcements
              - vh news
              - network news
              - assigned to project
              - mentioned
            notes
              - network messaging system
              - notes can be left on all most object_ids (users_id, media_, project_id)
              - notes can be replied to.
            <br>
    {% endcomment %}

        </div>
    </div>

            <div class="panel panel-default">

                <div class="panel-heading">
                    <h3 class="panel-title">Send Note</h3>
                </div>
                <div class="panel-body">
                    <form action="/send_note/" method="post">{% csrf_token %}
                        <div class="form-group" style="width:392px">
                            <div class="form-inline">
                                <input type="hidden" id="id_op_id" maxlength="255" name="op_id" value="{{ user.username }}" />
                                <input type="hidden" id="id_parent_id" maxlength="255" name="parent_id" value="None" />
                                <input type="hidden" id="id_rate" maxlength="255" name="rate" value="None" />
                                <input class="form-control" id="id_item_id" maxlength="100" name="item_id" type="text" placeholder="Recipient" />
                                <input class="form-control" id="id_subject" maxlength="255" name="subject" type="text" placeholder="Subject" />
                                <input class="form-control" id="id_content" maxlength="100" name="content" type="text" placeholder="Message..." />
                            </div>
                            <button type="submit" class="btn btn-default" value="Submit" />Send</button>
                        </div>
                    </form>
                </div>
            </div>




</div>
</div>
<br>
<br>
{% endblock %}
