{% extends "base.html" %}
{% block content %}
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Personal information</h3>
    </div>
    <div class="panel-body">

        <div style="width:48%; float:left;">
            <form action="/update_user/" method="post">{% csrf_token %}
                <div class="form-group">
                    <div>
                        <small>Username:</small><br><br>

                        <fieldset disabled>
                          <div style="float:right; width:90%;">
                          <input class="form-control" id="id_username" maxlength="100" name="username" type="text" placeholder="{{ request.user }}" /><br>
                        </div><br><br>
                          <small>Email:</small><br><br>
                          <div style="float:right; width:90%;">
                          <input class="form-control" id="id_email" maxlength="100" name="email" type="text" placeholder="{{ loggedin_user_info.11 }}" /><br>
                        </div><br><br>
                      </fieldset>
                    </div>
                    <div>
                        <small>First Name:</small><br><br>
                        <div style="float:right; width:90%;">
                        <input class="form-control" id="id_first_name" maxlength="100" name="first_name" type="text" placeholder="{{ loggedin_user_info.1 }}" /><br>
                        </div><br><br>
                        <small>Second Name:</small><br><br>
                        <div style="float:right; width:90%;">
                        <input class="form-control" id="id_last_name" maxlength="100" name="last_name" type="text" placeholder="{{ loggedin_user_info.2 }}" /><br>
                        </div><br><br>
                        <small>Cakeday:</small><br><br>
                        <div style="float:right; width:90%;">
                        <input class="form-control" id="datepicker_start" maxlength="100" name="dob" type="text" placeholder="{{ loggedin_user_info.4 }}" /><br>
                        </div><br><br>
                    </div>
                </div>
                        <button type="submit" class="btn btn-default" value="Submit" />Update</button>
        </div>

        <div style="width:48%; float:right;">
            <div>
                <small>Medical Provider:</small><br><br>
                <div style="float:right; width:90%;">
                <input class="form-control" id="id_med_provider" maxlength="100" name="med_provider" type="text" placeholder="{{ loggedin_user_info.6 }}" /><br>
                </div><br><br>
                <small>Medical Plan:</small><br><br>
                <div style="float:right; width:90%;">
                <input class="form-control" id="id_med_plan" maxlength="100" name="med_plan" type="text" placeholder="{{ loggedin_user_info.7 }}" /><br>
                </div><br><br>
            </div>
            <div>
                <small>Dental/Vision Provider:</small><br><br>
                <div style="float:right; width:90%;">
                <input class="form-control" id="id_dent_provider" maxlength="100" name="dent_provider" type="text" placeholder="{{ loggedin_user_info.8 }}" /><br>
                </div><br><br>
                <small>Dental/Vision Plan</small><br><br>
                <div style="float:right; width:90%;">
                <input class="form-control" id="id_dent_plan" maxlength="100" name="dent_plan" type="text" placeholder="{{ loggedin_user_info.9 }}" /><br>
                </div><br><br>
            </div>
            </form>
        </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Projects</h3>
    </div>
    <div class="panel-body">
        Assign user to project<br>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Dash</h3>
    </div>
    <div class="panel-body">
        Enable/disable modules<br>
        Rearrange modules<br>
        Theme<br>
    </div>
</div>
<br>

<div class="panel panel-danger">
    <div class="panel-heading">
        <h3 class="panel-title">Warning</h3>
    </div>
    <div class="panel-body">
        change email<br>
        change password<br>
        delete account<br>
    </div>
</div>
{% endblock %}
