{% extends "base.html" %}

{% load staticfiles %}
{% block content %}



<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Monthly Gains</h3>
    </div>
    <div class="panel-body">


<img src="{% static 'ico_achive.jpg' %}"><img src="{% static 'ico_achive.jpg' %}">





    </div>
</div>


<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Lifetime Gains</h3>
    </div>
    <div class="panel-body">

<img src="{% static 'ico_achive.jpg' %}"><img src="{% static 'ico_achive.jpg' %}">

    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">User Statistics</h3>
    </div>
    <div class="panel-body">
        User rating, <br>
        achievements... fuck yea,<br>
        image/shot of the month,<br>
        Uploads,<br>
        Comments,<br>
        finished images,<br>
        finished films,<br>
        finished projects,<br>
        projects worked on,<br>

    </div>
</div>
<br>
{% endblock %}
