body {
}
.blended_grid{
display : block;
width : 1050px;
overflow : auto;
margin : 100px auto 0 auto;
}
.userbanner{
float : left;
clear : none;
height : 1000px;
width : 1050px;
}
.leftBanner{
float : left;
clear : none;
height : 350px;
width : 348px;
}
.centerBanner{
float : left;
clear : none;
height : 350px;
width : 348px;
}
.rightBanner{
float : left;
clear : none;
height : 350px;
width : 348px;
}
.bottomBanner{
float : left;
clear : none;
height : 100px;
width : 1050px;
}
