{% extends "base.html" %}
{% block title %}{% endblock %}
{% block head %}{% endblock %}
{% block content %}




    <div class="userbanner">
      <div class="panel panel-default">
        <div class="panel-body">





              {% if form.errors %}
                  <p>Your username and password didn't match. Please try again.</p>
              {% endif %}

              <form method="post" action=".">{% csrf_token %}
                  <table border="0">



                      <tr><th><label for="id_username">Username:</label></th><td>{{ form.username }}</td></tr>




                      <tr><th><label for="id_password">Password:</label></th><td>{{ form.password }}</td></tr>
                  </table>
                  <button type="submit" class="btn btn-default" value="Login" />Login</button>
                  <input type="hidden" name="next" value="/home" />
              </form>
              <a href="/register">Register User</a>




            </div>
          </div>



        </div>






{% endblock %}
