{% extends "base.html" %}
{% load staticfiles %}
{% block content %}





<div class="panel panel-default">

    <div class="panel-heading">
        <h3 class="panel-title">Latest Project Assets</h3>
    </div>
    <div class="panel-body">
      {% for asset in asset_collect.items %}
        {% if asset.1.project_id != 'Not Set' %}
          <a href="/asset?query_name={{ asset.0|urlencode }}">
          <img src="{% static 'ico/user.jpg' %}" width="150px" height="150px"/>
          </a>
        {% endif %}
      {% endfor %}

</div>
</div>



<div class="panel panel-default">

    <div class="panel-heading">
        <h3 class="panel-title">Latest Library Assets</h3>
    </div>
    <div class="panel-body">
      {% for asset in asset_collect.items %}
        {% if asset.1.project_id == 'Not Set' %}
          <a href="/asset?query_name={{ asset.0|urlencode }}">
          <img src="{% static 'ico/user.jpg' %}" width="150px" height="150px"/>
          </a>
        {% endif %}
      {% endfor %}

</div>
</div>




















{% endblock %}
