{% extends "base.html" %}
{% load staticfiles %}
{% block content %}





<div class="panel panel-default">

    <div class="panel-heading">
        <h3 class="panel-title">Latest Project Assets</h3>
    </div>
    <div class="panel-body">
      {% for asset in asset_collect.items %}
        {% if asset.1.project_id != '' %}
          <a href="/asset?query_name={{ asset.0|urlencode }}">
          <img src="{% static 'ico/user.jpg' %}" width="167px" height="167px"/>
          </a>
        {% endif %}
      {% endfor %}

</div>
</div>



<div class="panel panel-default">

    <div class="panel-heading">
        <h3 class="panel-title">Latest Library Assets</h3>
    </div>
    <div class="panel-body">
      {% for asset in asset_collect.items %}
        {% if asset.1.project_id == '' %}
          <a href="/asset?query_name={{ asset.0|urlencode }}">
          <img src="{% static 'ico/user.jpg' %}" width="167px" height="167px"/>
          </a>
        {% endif %}
      {% endfor %}

</div>
</div>








<div class="panel panel-default">

    <div class="panel-heading">
        <h3 class="panel-title">New Asset</h3>
    </div>
    <div class="panel-body">
      <form action="/asset_new/" method="post">{% csrf_token %}
        <input type="hidden" name="collection" value="True" />
        <input type="hidden" name="project_id" value="{{ project.0 }}" />
        <button type="submit" class="btn btn-primary btn-sm" name="addasset" value="{{ project.0 }}" />Assign Asset</button>
      </form>

</div>
</div>












{% endblock %}
