{% load staticfiles %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">



<html>
    <head>
        <title>Dash</title>


            <meta name="viewport" content="width=device-width, initial-scale=1">

            <!-- Bootstrap -->
            <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
            <link rel="stylesheet" href="{% static 'css/style.css' %}" />

            <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
            <script type="text/javascript">
                google.charts.load('current', {'packages':['timeline']});
                google.charts.setOnLoadCallback(drawChart);
                function drawChart() {
                var height = ({{ project_count|safe }} + 1) * 44
                var container = document.getElementById('timeline');
                var chart = new google.visualization.Timeline(container);
                var dataTable = google.visualization.arrayToDataTable([
                    {{ project_datatable|safe }},
                    ],
                    false); // 'false' means that the first row contains labels, not data.

                var options = {
                    colors: ['#0087FF', '#FFEA30'],
                    timeline: { showRowLabels: false },
                    avoidOverlappingGridLines: false,
                    forceIFrame: false,
                    height: height,
                };

                chart.draw(dataTable, options);
                }
            </script>



            <link rel="stylesheet" href="//code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css">
            <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
            <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
            <script>
            $( function() {
                $( "#datepicker_start" ).datepicker();
                } );
            $( function() {
                $( "#datepicker_end" ).datepicker();
                } );
            </script>



            <!-- flooble Expandable Content header start -->
            <script language="javascript">
            var ie4 = false; if(document.all) { ie4 = true; }
            function getObject(id) { if (ie4) { return document.all[id]; } else { return document.getElementById(id); } }
            function toggle(link, divId) { var lText = link.innerHTML; var d = getObject(divId);
             if (lText == '+') { link.innerHTML = '−'; d.style.display = 'block'; }
             else { link.innerHTML = '+'; d.style.display = 'none'; } }
            </script>
    </head>
    <body>

  {% if user.username != '' %}

<div class="blended_grid">


  <nav class="navbar navbar-default">
    <div class="container-fluid">

      <div class="navbar-header">
        <a class="navbar-brand" href="/dash/">Dash</a>
          </div>





      <div style="float:right;">

        <ul class="nav navbar-nav">
            <li><a href="/project_dash/">Projects</a></li>
            <li><a href="/asset_dash/">Asset</a></li>
            <li><a href="/almanac/">Almanac</a></li>
        </ul>

        <form class="navbar-form navbar-left" role="search">
          <div class="form-group" style="float:right;">
            <input type="text" class="form-control">
            <button type="submit" class="btn btn-default">Search</button>
          </div>
        </form>

      </div>
    </div>
  </nav>

{% for attri in logged_member.items %}


  <div style="float:right;">
    &emsp;<img src="{% static 'ico/'|add:attri.1.user_image %}"  width="125px" height="125px"/>
  </div>

  <div style='float:right; text-align:right;'>
    <h4><img src="{% static 'ico/ico_rate.jpg' %}" width="5%" height="5%"/><a href="/rank/">{{ attri.1.rank }}</a> | {{ attri.1.first_name }} {{ attri.1.last_name }}</h4>
    <a href="/note/">Notes</a> (New({{ attri.1.recv_note }}), Read({{ attri.1.recv_note }}))<br>
    <img src="{% static 'ico/ico_setting.jpg' %}" width="15px" height="15px"/>&ensp;<a href="/setting/">Settings</a><br>
    <a href="/logout/">Logout</a>

  </div>
{% endfor %}



</div>
  {% endif %}


        <div class="blended_grid">
          <hr>
            {% block content %}


            {% endblock %}
        </div>
        {% if user.username != '' %}
        <div class="infobar">
            <div class="well">
                <div class="blended_grid">
                    <div class="leftBanner">
                        social<br>
                        [Social links]
                    </div>

                    <div class="centerBanner">
                        <address>
                            <strong>Visualhouse, NY </strong><br>
                            54 Thompson, Fl. 3<br>
                            New York, NY 10012<br>
                            <br>
                            <abbr title="Phone">P:</abbr> (123) 456-7890<br>
                            <abbr title="Email">E:</abbr> hello@visualhouse.co
                        </address><br>
                    </div>

                    <div class="rightBanner">
                        bug<br>
                        [Report bug?]<br>
                    </div>
                </div>
            <br>
            <br>
            </div>
          </div>
          {% endif %}

    </body>
</html>
