{% extends "base.html" %}
{% load staticfiles %}
{% block content %}

{% for attri in logged_member.items %}
    <p>Welcome {{ attri.1.first_name }}.</p>
{% endfor %}
<br>
DEV IMP:<br>
User assigned Images<br>
User Assigned project<br>
 - project overview charts<br>
<br>





<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">
          Assigned Project Items</h3>
    </div>
    <div class="panel-body">
{% for asset in current_asset.items %}
{% if asset.1.1 != '' %}
      <a href="/asset?query_name={{ asset.0|urlencode }}">
      <img src="{% static 'ico/'|add:asset.1.0 %}" width="167px" height="167px"/>
      </a>
{% endif %}
{% endfor %}
    </div>

</div>


<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">
          Your Recent Assets</h3>
    </div>
    <div class="panel-body">
{% for asset in current_asset.items %}
{% if asset.1.1 == '' %}
      <a href="/asset?query_name={{ asset.0|urlencode }}">
      <img src="{% static 'ico/'|add:asset.1.0 %}" width="89px" height="89px"/>
      </a>
{% endif %}
{% endfor %}
    </div>

</div>



<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">
[<a title="show/hide" id="exp1468505630_link" href="javascript: void(0);" onclick="toggle(this, 'exp1468505630');"  style="text-decoration: none; color: #000000; ">−</a>]
          Upload Asset</h3>
    </div>
    <div class="panel-body">
      <div id="exp1468505630" style="padding: 3px;">

      <form action="/asset_new/" method="post">{% csrf_token %}
          <div class="form-group">
              <div>
                <small>collection:</small><br><br>
                  <div style="float:right; width:90%;">
                  <input class="form-control" id="id_collection" maxlength="100" name="collection" type="text" placeholder="collection" /><br>
                </div><br><br>
                  <small>project_id:</small><br><br>
                    <div style="float:right; width:90%;">
                    <input class="form-control" id="id_project_id" maxlength="100" name="project_id" type="text" placeholder="project_id" /><br>
                  </div><br><br>
                  <small>item:</small><br><br>
                    <div style="float:right; width:90%;">
                    <input class="form-control" id="id_item" maxlength="100" name="item" type="text" placeholder="item" /><br>
                  </div><br><br>
                  <small>item_thumb:</small><br><br>
                    <div style="float:right; width:90%;">
                    <input class="form-control" id="id_item_thumb" maxlength="100" name="item_thumb" type="text" placeholder="item_thumb" /><br>
                  </div><br><br>
                  <button type="submit" class="btn btn-default" value="Submit" />Upload</button>


                </div>
            </div>
      </form>
      <script language="javascript">toggle(getObject('exp1468505630_link'), 'exp1468505630');</script>
</div>
</div>

</div>

{% endblock %}
