{% extends "base.html" %}
{% load staticfiles %}
{% block content %}






<div class="panel panel-default">

    <div class="panel-heading">
        <h3 class="panel-title">
          [<a title="show/hide" id="exp38904759834_link" href="javascript: void(0);" onclick="toggle(this, 'exp38904759834');"  style="text-decoration: none; color: #000000; ">−</a>]

          Create Project</h3>
    </div>
    <div class="panel-body">
      <div id="exp38904759834" style="padding: 3px;">

        <form action="/project_new/" method="post">{% csrf_token %}
            <div class="form-group" style="width:392px">
                <div class="form-inline">
                    <input class="form-control" id="id_code" maxlength="100" name="code" type="text" placeholder="Project Code" />
                    <input class="form-control" id="id_inc" maxlength="100" name="inc" type="text" placeholder="Increment" />
                </div>
                    <br>
                <button type="submit" class="btn btn-default" value="Submit" />Create Project</button>
            </div>
        </form>
        <script language="javascript">toggle(getObject('exp38904759834_link'), 'exp38904759834');</script>

      </div>
    </div>
</div>



Filter:&emsp; NY | LN | MI | LA | <b>ALL</b>
<br>
<br>


{% for project in project.items %}
<h2><a href="/project?query_name={{ project.0|urlencode }}">{{ project.1.name }}</a></h2>
<div class="divTable">
<div class="divTableBody">
<div class="divTableRow">
<div class="divTableCell" style="width:150px;"/>
  <small>
  Project Code:<br>
  Project Increment:<br>
  Project Start: <br>
  Project End:<br>
  Created by:<br>
  Members:<br>
  Directory:<br>
  </small>


</div>
<div class="divTableCell" style="width:200px;">

  <small>

  {{ project.1.code }}<br>
  {{ project.1.inc }}<br>
  {{ project.1.start }}<br>
  {{ project.1.end }}<br>
  {{ project.1.creator_id }}<br>
  {{ project.1.assigned_user_id }}<br>
  {{ project.1.location }}<br>
  </small>


</div>
<div class="divTableCell">


  {% if project.1.asset != 'Not Set' %}
  {% for x in project.1.asset %}
  {% endfor %}
  <small>Project Assets:</small><br><br>
  <a href="/asset?query_name={{ project.1.asset|urlencode }}">
  <img src="{% static 'ico/user.jpg' %}" width="100px" height="100px"/>
  </a>

  {% endif %}




</div>
</div>
</div>
</div>
  <hr>
<!-- DivTable.com -->
{% endfor %}











{% endblock %}
