{% extends "base.html" %}

{% load staticfiles %}
{% block content %}



{% for project in project.items %}


<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">{{ project.1.name }}</h3>
  </div>

  <div class="panel-body">
    <div>
      <div  style="float: left; width: 30%;">
        <small>
        Project Code:<br>
        Project Increment:<br>
        Project Start: <br>
        Project End:<br>
        Assets:<br>
        Created by:<br>
        Users:<br>
        Directory:<br>
        Signed off:<br>
        flagged for Deletion:<br><br>
        </small>
      </div>

      <div sytle="float: right">
        <small>
        {{ project.1.code }}<br>
        {{ project.1.inc }}<br>
        {{ project.1.start }}<br>
        {{ project.1.end }}<br>
        <a href="/asset?query_name={{ project.1.asset|urlencode }}">{{ project.1.asset }}</a><br>
        {{ project.1.creator_id }}<br>
        {{ project.1.assigned_user_id }}<br>
        {{ project.1.location }}<br>
        {{ project.1.signedoff }}<br>
        {{ project.1.flagdelete }}<br>
        </small>
      </div>
    </div>
    <br>
    <div>
       <button type="button" class="btn btn-primary btn-sm">Update</button>
       <button type="button" class="btn btn-primary btn-sm">Assign Personal</button>

       <form action="/project_asset/" method="post">{% csrf_token %}
         <input type="hidden" name="collection" value="True" />
         <input type="hidden" name="project_id" value="{{ project.0 }}" />
         <button type="submit" class="btn btn-primary btn-sm" name="addasset" value="{{ project.0 }}" />Add Asset</button>
       </form>
       <button type="button" class="btn btn-primary btn-sm">Sign off</button><br><br>
       <form action="/project_del/" method="post">{% csrf_token %}
         <button type="submit" class="btn btn-danger" name="delete" value="{{ project.0 }}" />Delete</button>
       </form>
     </div>

{% if project.1.asset != 'Not Set' %}
{% for x in project.1.asset %}
{% endfor %}
<br>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Assets</h3>
  </div>

  <div class="panel-body">

<a href="/asset?query_name={{ project.1.asset|urlencode }}">
<img src="{% static 'ico/user.jpg' %}" width="100px" height="100px"/>
</a>

</div>
</div>

{% endif %}
<hr>
</div>
</div>
{% endfor %}

{% endblock %}
