{% extends "base.html" %}

{% load staticfiles %}
{% block content %}


{% for project in project.items %}


<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">{{ project.1.name }}</h3>
  </div>

  <div class="panel-body">
    <div>
      <div  style="float: left; width: 30%;">
        <small>
        Project Code:<br>
        Project Increment:<br>
        Project Start: <br>
        Project End:<br>
        Created by:<br>
        Users:<br>
        Directory:<br>
        Signed off:<br>
        flagged for Deletion:<br><br>
        </small>
      </div>

      <div sytle="float: right">
        <small>
        {{ project.1.code }}<br>
        {{ project.1.inc }}<br>
        {{ project.1.start }}<br>
        {{ project.1.end }}<br>
        {{ project.1.creator_id }}<br>
        {{ project.1.assigned_user_id }}<br>
        {{ project.1.location }}<br>
        {{ project.1.signedoff }}<br>
        {{ project.1.flagdelete }}<br>
        </small>
      </div>
    </div>
    <br>
    <div>

       <button type="button" class="btn btn-primary btn-sm">Update</button>
       <button type="button" class="btn btn-primary btn-sm">Assign Member</button>
       {% for member in logged_member.items %}

       <form action="/asset_new/" method="post">{% csrf_token %}
         <input type="hidden" name="collection" value="False" />
         <input type="hidden" name="project_id" value="{{ project.0 }}" />
         <input type="hidden" name="member_id" value="{{ member.0 }}" />
         <button type="submit" class="btn btn-primary btn-sm" name="addasset" value="{{ project.0 }}" />Assign Asset</button>
       </form>
       <button type="button" class="btn btn-primary btn-sm">Sign off</button><br><br>
       <form action="/project_del/" method="post">{% csrf_token %}
         <button type="submit" class="btn btn-danger" name="delete" value="{{ project.0 }}" />Delete</button>
       </form>
       {% endfor %}

     </div>



<br>
{% for x in project.1.asset %}
{% if x != '' %}
<a href="/asset?query_name={{ x|urlencode }}">
<img src="{% static 'ico/user.jpg' %}" width="100px" height="100px"/>
</a>
{% endif %}
{% endfor %}

<hr>
</div>
</div>
{% endfor %}

{% endblock %}
